/* App.css */

/* Style for the star rating */
.star {
  color: #f8c146; /* Yellow color for stars */
}

/* Style for the notification container */
.notification-container {
  position: relative;
}

/* Style for the notification */
.notification {
  position: absolute;
  top: -60px; /* Position the notification above the card */
  left: 0;
  background-color: #007bff; /* Blue background */
  border: 1px solid #0056b3; /* Darker blue border */
  color: #fff; /* White text color */
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  animation: fadeOut 2s forwards; /* Animation to fade out */
}

/* Animation to fade out the notification */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
