body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('bg.jpeg') no-repeat center center fixed;
    background-size: cover;
}
  
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {
    width: 100%;  /* Make sure it uses full width initially */
    max-width: 400px; /* Maximum width */
    aspect-ratio: 1; /* Ensure square aspect ratio */
    background: rgba(229, 112, 112, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

@media (min-width: 768px) {
    .login-card {
        width: 350px; /* Fixed square size for tablets and larger screens */
        height: 350px;
    }
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 1rem;
}
